<div id="left_closer_holder">
  <span id="left_closer" onclick="closeNavLeft()">
    {% render 'icon-close' %}
  </span>
</div>


{% for link in linklists.leftoffcanvas.links %}
  ssssssssssssssssssss
{% endfor %}


{% schema %}
{
  "name": "Off Canvas Left",
  "class": "section-off-canvas-left",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu to Display"
    }
    
  ]
}
{% endschema %}
