<div id="left_closer_holder">
  <span id="left_closer" onclick="closeNavLeft()">
    {% render 'icon-close' %}
  </span>
</div>


{% for link in linklists.main-menu.links %}
  ssssssssssssssssssss
{% endfor %}


{% schema %}
{
  "name": "offcanvasleft",
  "class": "section-off-canvas-left",
  "settings": [
    {
      "type": "header",
      "content": "There are no settings for this section"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "ss"
    },   
  ]
}
{% endschema %}
