@import url("_fp_comics.css");

html{
  background-color:black;
}

body{
  background:transparent;
  background:url('https://forbiddenplanet.uk/loungefly/jack5.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

#MainContent{
	padding-top:30px;
}


.page-width,
.fp_width{
	max-width:1500px;
	margin:0 auto;
}


/* Color custom properties */

:root,
.color-background-1 {
  --color-foreground: var(--color-base-text);
  --color-background: transparent;
  --gradient-background: transparent;
}


h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
p,
span,
body

{
  color:white;
}

quantity-input.quantity{
	color:black;
}

a:hover{
	text-decoration:none!important;
}

.link--text{
	color:var(--fp-yellow);
}

h1,
h2,
h3,
h4,
h5{
	font-family: 'Futura'!important;
}

.field{
	border:1px solid #666;
	border-radius:2px;
}


.badge {
    background-color: var(--fp-yellow);
    border-color: var(--fp-yellow);
    color: black;
    font-size: 120%;
    text-transform:uppercase;
    font-weight:700;
}

.rte a{
	color:white!important;
}

.card__information a{
	text-decoration:none!important;
}

.card__information a:hover{
	color: var(--fp-yellow);
}

.field__label, .customer .field label {

    color: black;
}

/* ----------- Buttons */

.button, 
.shopify-challenge__button, 
.customer 
button{
	position:relative;
    color: var(--fp-yellow);
    background-color: transparent;
    border:1px solid var(--fp-yellow);
    border-radius:2px;
    transition-property: background;
    transition-duration: 1s;
    overflow:hidden;
}



button::before{
	content: '';
	display:block;
	background:var(--fp-yellow);
	width:100%;
	height: 100%;
	margin-left:-100%;
	transition: margin 0.5s;
	opacity:1!important;
}

.search-modal__close-button::before, 
.search-modal__content button::before,
button.quantity__button::before{
	display:none;
	background:transparent;
	margin-left:0%;
	width:0;
	height:0;
}


button span{
	color: var(--fp-yellow);
	z-index:2;
}

button:hover::before{
	margin-left:0;
	z-index:-1;
}


button:hover,
button:hover span{
	color:black!important;
}


.shopify-payment-button__more-options{
	display:none;
}


.cart__checkout-button::before{
	content:'Checkout';
	color:black;
	width:100%;
	height:100%;
	line-height:45px;
}


/* ----------- Flex */

.fp_flex_holder{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

/* ----------- Cart Drawer */


#CartDrawer{
	background:#111;
	border-left:2px solid white;
}

.drawer__cart-items-wrapper th{
	display:none;
}


/* ----------- Off Canvass Left */

.section-off-canvas-left{
	background:#111;
	position:fixed;
	top:0;
	height:100vh;
	width:0;
	z-index:100;
	transition: width .5s;
	overflow:hidden;
}

.section-off-canvas-left .inner{
	height:100vh;
	border-right:2px solid white;
	overflow-y:scroll;
}


.section-off-canvas-left ul{
	list-style-type: none;
	text-indent:0;
	margin:0;
	padding:0;
}



.section-off-canvas-left a,
.section-off-canvas-left a:visited{
	display:inline-block;
	margin: 10px 20px;
	padding-left:10px;
	width:240px;
	color:white;
	text-transform: uppercase;
	line-height:2em;
	text-decoration:none;
	/*white-space:nowrap;*/
}




.section-off-canvas-left a.list-menu__item--active,
.section-off-canvas-left a:hover{
	color:var(--fp-yellow);
	background:#333;
}

#fp_hamburger_top span,
#fp_hamburger span{
	position:fixed;
	display:inline-block;
	color:white;
	width:24px;
	height:24px;
	margin:10px;
}

#left_closer{
	display:inline-block;
	color:white;
	width:24px;
	height:24px;
	margin:10px;
}

#left_closer_holder{
	text-align:right;
}

#left_closer_holder{
	position:sticky;
	top:0;
}
/* ----------- Header */

#fp_logo{
	width:95%;
	max-width:300px;
	margin:0 auto;
	text-align;center;
}

#fp_logo img{
	max-width:100%;
}

@media screen and (max-width: 500px) {
	#fp_logo{
		padding-top:50px;
	}

	.second_logo{
		margin-bottom:-50px;
	}
}

#fp_hamburger_fixed{
	height:50px;
	width:150px;
	position:fixed;
	z-index:20;
}

#fp_hamburger_fixed span{
	display:inline-block;
	height:24px;
	width:24px;
	margin:13px;
	pointer-events: auto; 
}

#fp_icons_fixed{
	height:100%;
	width:100%;
	position:fixed;
	right:0;
	z-index:10;
	pointer-events: none; 
}

#fp_icons_fixed .header__icons{
	padding-right:20px;
	pointer-events: auto; 
}

.header__icons {
    justify-content: right;
}

.announcement-bar{
	max-width:500px;
	margin:0 auto;
	text-align:center;
}

@media screen and (max-width: 800px) {
	.announcement-bar{
		padding-top:50px;
	}
}


#shopify-section-header{  
position: sticky;
  position: -webkit-sticky;
  top: 0;
}



header-drawer {
	display:block!important;
    margin-left: 0 !important;
}

.search-modal__content{
	color:white;
	background:rgba(0,0,0,0.9);
}

#menu-drawer{
	max-width:240px;
	background:rgba(#000, 0.5);
}

.menu-drawer__menu-item--active, 
.menu-drawer__menu-item:focus, 
.menu-drawer__close-button:focus, 
.menu-drawer__menu-item:hover, 
.menu-drawer__close-button:hover {
    color:var(--fp-yellow)!important;
    background-color: rgba(#aaa, 0.04);
}

.cart-count-bubble {
    position: absolute;
    background-color: var(--fp-yellow) ;
    
}
.cart-count-bubble span{
	color: black!important;
}

.second_logo,
.second_logo img{
	text-align:center;
	max-width:100%;
}

.modal__close-button.link,
.field__button,
.search__input{
	background:white;
	color:black;
}


#predictive-search-results{
	background:#666;
	margin:20px;
}

#predictive-search-products{
	color:white;
}






/* ----------- Footer */


footer{
	margin-top:30px;
	padding-top:30px;
}


#fp_footer_logo img{
	max-width:100%;
	display:inline-block;
	margin:0 auto;
}

footer .list-social{
	justify-content:center;
}

.list-social__item a{
	color: white ;
	font-size:30px;
	text-decoration:none;
}

.list-social__item a:hover{
	color: var(--fp-yellow) ;
}

footer .list-social__item .icon {
    height: 30px;
    width: 30px;
}

footer .footer-block h2{
	color:var(--fp-yellow) ;

	padding:10px;
	text-align:center;
}

.footer__blocks-wrapper{
	align-items: center;
		border-top:1px solid #666 ;
	border-bottom:1px solid #666 ;
}

.footer__blocks-wrapper h2{
	margin:0;
}

.footer__blocks-wrapper h2 a{
	color: var(--fp-yellow);
}



/* ----------- banner */

.banner{
	max-width:1500px;
	border:2px solid white;
	margin:0 auto;
}

/* ----------- product */

.product__title h1{
	text-transform:uppercase;
	font-size:24px;
}

.product-recommendations{
	text-align:center;
	text-transform:uppercase;
	border-top:1px solid white;
	padding-top:24px;
	margin-top:40px;
}

.price-item{
	color:#ccc!important;
}

.quantity__input {
    color: currentColor;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.85;
    text-align: center;
    background-color: white!important;
    border: 0;
    padding: 0 0.5rem;
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    appearance: none;
}

.quantity__button {
    background-color: white!important;
}



.price__container .price-item{
	color:var(--fp-yellow)!important;
	font-weight:800;
}


.price__container .price__sale .price-item.price-item--regular{
	color:red!important;
}


/* ----------- home */
.collection__title h2{
	border-top:2px solid #aaa;
	padding-top:20px;
	margin-top:60px!important;
}

.fp_title{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.fp_title a,
.fp_title a:visited{
	text-decoration:none;
	font-size:14px;
	color:white;
}

.fp_title a:hover{
	color:var(--fp-yellow);
}


.product-card-wrapper{
	padding-bottom:60px;
}

.rich-text{
	/*background:rgba(0,0,0,0.7);
	padding-bottom:40px!important;
	max-width:1000px;
	margin:0 auto;*/
}


/* ----------- odds and ends */
.shopify-policy__container{
	max-width:1000px;
	background:rgba(0,0,0,0.8);
}

cart-items,
#main-cart-footer{
	background:rgba(0,0,0,0.8);
}

.customer{
	width:100%!important;
	max-width:1000px!important;
	background:rgba(0,0,0,0.8);
}








